section {
  background-color: gray;
  /* Can have different options of margins below */
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  /* This code below overrides the 4 above. The first unit E.g 1px (represents top and bottom), second unit (represents left and right) */
  margin: 1px 1px;
}
h2 {
  border-style: double;
  border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-color: red;
  border-radius: 40px 40px 40px 40px;

  border: 5px solid blue;
}
